*{
    font-family: 'Black Ops One';

}
.recipe-step-title{
  
    font-family: "Black Ops One";
   
}
.primary{
background-color: beige;
color:black

}

.imgsize{

    height: auto;
    width: 600px;
}

